<!DOCTYPE html>
<html>
<head>
 <title>LinkaLinks</title>
 <%= stylesheet_link_tag    "application", :media => "all" %>
 <%= javascript_include_tag "application" %>
 <%= csrf_meta_tags %>
</head>
<body>
<center>
<div id="p">
<div id="t">
<table><tr><td style="width:140px">
<label class="ta">Linka<br/>Links</label>
</td><td style="vertical-align:middle">
<label class="tb">&nbsp;&nbsp;&nbsp;Angelito | Darlan | Marcos | Sonia<br/>&nbsp;&nbsp;&nbsp;Linguagem de Programação para a Web - 2012/02</label>
</td>
<td style="vertical-align:middle;padding-right:56px;text-align:right">

</td>
</tr></table>
</div>

<div id="em">
<a href="http://www.google.com">ADICIONAR LINK</a>
</div>
<div style="text-align:right;padding:20px;color:#DD3030;font-weight:bold">
yyyyyyyyyyyyyyyyyyyyyyyyyy
</div>
<div id="c">
<table style="height:100%">
<tr>
<td style="width:15%;padding:7px;border-right:1px dotted #505050;text-align:right;font-size:10pt">
xxxxxxxxxxxxxxxxxxxx
</td>
<td style="width:85%;padding:7px">
<%= yield %>
</td>
</tr>
</table>
</div>
<div id="f"></div>
<div id="r">
<label style="color:#333333">dkjfklsdhfkjsdhjfhkdsjhfkjsdhfdskj</label>
</div>
</div>
</center></body>
</html>
